.unity-vector3-field {
    flex-direction: column;
}

.unity-vector3-field Label {
    min-width: auto;
}

.unity-vector3-field FloatField > Label {
    display: none;
}

.unity-vector3-field VisualElement {
    justify-content: space-around;
}
