.gimbalRing EnumField {
    width: 30%;
    margin: 0;
    padding: 10px;
}

.gimbalRing FloatField {
    width: 40%;
    padding: 10px;
}

.gimbalRing DropdownField {
    width: 30%;
    padding: 10px;
}
