.wxyz > FloatField {
    flex-grow: 1;
    width: 20%;
}

.wxyz > FloatField > Label {
    width: 10px;
}

.parentheticField {
    margin-left: 0;
    margin-right: 0;
}

.absoluteTopRight {
    position: absolute;
    top: 0;
    right: 0;
}
